.App {
  text-align: center;
}

.main-bg {
  height: 300px;
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.side-bar {
  position: fixed;
  z-index: 1;
  background-color: #212529;
  width: 100px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.watched {
  margin: 5px;
  border-radius: 5px;
  width: 80px;
}

.orderBar {
  position: fixed;
  z-index: 1;
  background-color: #212529;
  width: 100%;
  height: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orderBar__right,
.orderBar__left {
  height: 160px;
  width: 45%;
  display: flex;
}

.orderBar__left {
  flex-direction: column;
  justify-content: space-around;
  color: white;
  font-size: 20px;
}

.orderbar__left-content {
  display: flex;
  justify-content: space-between;
}

.orderBar__right {
  justify-content: space-around;
  background-color: white;
  color: black;
  font-size: 25px;
  border-radius: 30px;
}

.orederBar__right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order-btn {
  border-radius: 15px;
  background-color: #212529;
  color: white;
  padding: 8px;
}
